<!DOCTYPE html>
<html lang="en-US"data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">

        <title>Reflective Tech Consulting For Succesful Projects - Helping others with useful content</title>
        <meta name="title" content="Reflective Tech Consulting For Succesful Projects - Helping others with useful content">
        <meta name="description" content="Helping others with useful content">
        <meta name="keywords" content="www,home,Software Projects Done Right,Effective Software Solutions,On-hand Technical Leadership,Project Rescue,Fractional Leadership,Fractional CTO,Simple Approach,No Huge Upfront Design,Balanced Tactical and Strategic Approaches,Problem Finder,Digitalization,Consultation,Management,Team Management,Mentoring,Software Procurement,Software Architecture,Software Development,Software Best Practices">
        <meta name="author" content="">
        <meta name="robots" content="index, follow">

        <link rel="canonical" href="https://reflectivetechconsulting.com//www/">
        <link rel="shortcut icon" type="image/png" href="/assets/reflection logo.ico">
        
        <link rel="preconnect" href="cdnjs.cloudflare.com">
        <link rel="dns-prefetch" href="cdnjs.cloudflare.com">

        <link rel="preconnect" href="cdn.jsdelivr.net">
        <link rel="dns-prefetch" href="cdn.jsdelivr.net">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha256-2TnSHycBDAm2wpZmgdi0z81kykGPJAkiUY+Wf97RbvY=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha256-gOQJIa9+K/XdfAuBkg2ONAdw5EnQbokw/s2b8BqsRFg=" crossorigin="anonymous"></script>

        <script src="/assets/js/custom/clipboard-copy.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js" integrity="sha256-mOsgtygNfXBUPc/+cc19yr+g0jieqYOgRL5xFD2sC0Y=" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js" integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js" integrity="sha512-PEsccDx9jqX6Dh4wZDCnWMaIO3gAaU0j46W//sSqQhUQxky6/eHZyeB3NrXD2xsyugAKd4KPiDANkcuoEa2JuA==" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="/assets/css/main.css" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax.css" integrity="sha256-/a0I9OFWuIXZRhqSuqIj8g0NUYSID+mwuyOuuFZb12A=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax.min.js" integrity="sha256-uCknJLYMrtYTPwl8PwQnFj6T6Hck2oSGEZLhMi1BRvU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax-video.min.js" integrity="sha256-zYuE44YyKYv3Y4xv38UkxBY4jFCzAmAxwJ2nfRj16WI=" crossorigin="anonymous"></script>
        <script>
            function InitParallax() {
                jarallax(document.querySelectorAll('.jarallax'), {
                    speed: 0.2, 
                    disableVideo: /iPad|iPhone|iPod|Android/
                });
            }
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            function InitTyped() {
                // sample:
                // <span class="text-success">ever created for
                //   <span data-typed='{"strings": ["developers.", "founders.", "designers."]}'></span>
                //   <span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span>
                // </span>
                document.querySelectorAll("[data-typed]").forEach(e => {
                    const t = {
                        typeSpeed: 40,
                        backSpeed: 10,
                        backDelay: 2e3,
                        loop: true,
                        replaceBaseText : true, /* future feature */
                        autoInsertCss: true,
                        ...e.dataset.typed ? JSON.parse(e.dataset.typed) : {}
                    };

                    var typed = new Typed(e, t);
                });
            }         
        </script>

        
        <script src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js" integrity="sha256-gHiUEskgBO+3ccSDRM+c5+nEwTGp64R99KYPfITpnuo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css" integrity="sha256-X7rrn44l1+AUO65h1LGALBbOc5C5bOstSYsNlv9MhT8=" crossorigin="anonymous">
        <script>
            function InitAOS() {
                new WOW({ animateClass: 'animate__animated' }).init();
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
        <script>
            function InitCounters() {
                new PureCounter();
            }
        </script>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css" integrity="sha256-bT9i1NF5afnHDpQ4z2cQBHJQGehoEj8uvClaAG+NXS0=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js" integrity="sha256-A9/h+86SqfF/zRoVASE72CDQUKsIXDOEGasGo2MclFk=" crossorigin="anonymous"></script>
        <script>
            function InitLightbox() {
                GLightbox({});
            }
        </script>

        <style>

  .text-highlight {
    color: var(--color-highlight);
  }

  .icon-linked-in {
    // color: #0a66c2;
  }

  .top-delimiter {
    border-top: .25em solid var(--color-delimiter);      
  }
  
  .bottom-delimiter {
    border-bottom: .25em solid var(--color-delimiter);      
  }

</style>

    </head>
    <body class="fit-height">

        <!-- cookie consent script -->
        <!--
NOTE:
    ConsentStatus.enabled is set if no cookie consent is required (globals.cookieConsent.required)...
    ...otherwise ConsentStatus.default is the default value until consent is not given or denied!
-->
<script>
    const CookieConsent = {

        StatusEnum: {
            "default": "default",
            "enabled": "enabled",
            "disabled": "disabled"
        },

        loadScripts: function (requireConsent, consentUrl) {
            if (requireConsent) {
                // scripts managed based on consent status
                this._initializeCookieConsent(consentUrl);
            } else {
                // all scripts enabled
                this._enableCookies();
            }
        },

        getStatus() {
            return localStorage.cookies ?? this.StatusEnum.default;
        },

        _setStatus(value) {
            const changed = this.getStatus() != value;
            localStorage.cookies = value;
            if (changed) window.location.reload();
        },

        _defaultCookies: function () {
            console.log('default cookies');
            this._setStatus(this.StatusEnum.default);
        },

        _enableCookies: function () {
            console.log('enabled cookies');
            this._setStatus(this.StatusEnum.enabled);
        },

        _disableCookies: function () {
            console.log('disabled cookies');
            this._setStatus(this.StatusEnum.disabled);
        },

        _initializeCookieConsent: function (consentUrl) {

            const me = this;

            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#aa0000",
                        "text": "#ffdddd"
                    },
                    "button": {
                        "background": "#ff0000"
                    }
                },
                "theme": "edgeless",
                "position": "bottom-right",
                "type": "opt-in",
                "content": {
                    "message": "This website uses cookies to ensure you get the best experience here.",
                    "href": consentUrl
                },

                onInitialise: function (status) {
                    console.log(`cc - onInitialise, status: ${status}`);

                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    
                    if (type == 'opt-in' && didConsent) {
                        me._enableCookies();
                    }
                    else if (type == 'opt-out' && !didConsent) {
                        me._disableCookies();
                    }
                    else {
                        me._defaultCookies();
                    }
                },

                onStatusChange: function (status, chosenBefore) {
                    console.log(`cc - onStatusChange, status: ${status}, chosenBefore: ${chosenBefore}`);

                    var type = this.options.type;
                    var didConsent = this.hasConsented();

                    if (type == 'opt-in' && didConsent) {
                        me._enableCookies();
                    }
                    if (type == 'opt-out' && !didConsent) {
                        me._disableCookies();
                    }
                },

                onRevokeChoice: function () {
                    // NOTE: this hook is called immediately after the revoke button is clicked and removes previous answers
                    console.log(`cc - onRevokeChoice`);

                    var type = this.options.type;

                    if (type == 'opt-in') {
                        me._disableCookies();

                        // NOTE: we need to reload page, so that we get rid of the loaded GA / Disqus scripts!
                        location.reload();
                    }
                    if (type == 'opt-out') {
                        me._enableCookies();
                    }
                },

                onPopupOpen: function () {
                    console.log(`cc - onPopupOpen`);
                },

                onPopupClose: function () {
                    console.log(`cc - onPopupClose`);
                }

            });

        }

    };
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.css" integrity="sha512-LQ97camar/lOliT/MqjcQs5kWgy6Qz/cCRzzRzUCfv0fotsCTC9ZHXaPQmJV8Xu/PVALfJZ7BDezl5lW3/qBxg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.js" integrity="sha512-yXXqOFjdjHNH1GND+1EO0jbvvebABpzGKD66djnUfiKlYME5HGMUJHoCaeE4D5PTG2YsSJf6dwqyUUvQvS0vaA==" crossorigin="anonymous"></script>
<script>
    const requireConsent = JSON.parse('true');
    const consentUrl = '/cookies.html';  
    CookieConsent.loadScripts(requireConsent, consentUrl);
</script>


        <header class="sticky-top">
            <nav id="navbar-main" class="navbar-main navbar navbar-expand-lg">

    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="/">
            <div class="d-flex flex-column">
                <img src="/assets/reflection logo.png" />
                <span class="navbar-brand-subtitle align-self-center">ReflectiveTechConsulting.Com</span>
            </div>
        </a>

        <div class="ms-auto mx-2"></div>

        <!-- standalone search bar activator (below navigation) -->
        <a type="button" role="button" class="btn border-0 me-2 d-lg-none"
            data-bs-toggle="collapse" data-bs-target="#blog-search-bar">
            <!-- d-sm-none = hide if above sm -->
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>

        <button type="button" class="btn navbar-toggler"
            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Using navbar-toggler fix in main.scss and FA icons instead of: <span class="navbar-toggler-icon"></span> -->
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav d-flex flex-row flex-wrap align-items-center bd-navbar-nav pt-2 py-sm-0 px-5 w-100">
               
                
                <!--
    The navigation menu should always use CURRENT www version links (for this there's no _v* segment) !
-->
<li class="nav-item col-6 col-lg-auto">
    <a class="nav-link default p-2" href="/"><i class="fa-solid fa-house"></i></a>
</li>

<li class="nav-item col-6 col-lg-auto">
    <a class="nav-link p-2" href="/www/#value-proposition">Services</a>
</li>

<li class="nav-item col-6 col-lg-auto">
    <a class="nav-link p-2" href="/www/projects">Projects & More</i></a>
</li>

<li class="nav-item col-6 col-lg-auto">
    <a class="nav-link p-2" href="/www/fcto">F-CTO</a>
</li>

<!--
<li class="nav-item col-6 col-lg-auto">
    <a class="nav-link p-2" href="/www/about-me">About Me</a>
</li>
-->

                <div class="ms-auto mx-2"></div>

                <li class="nav-item dropdown col-12 col-lg-auto">
                    <hr class="d-block d-lg-none" />
                    <a class="d-inline-flex nav-link p-2" href="/posts/1/">Posts</a>
                    <a class="d-inline-flex nav-link no-dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-hover="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-angles-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/tags">Tags</a></li>
                        <li><a class="dropdown-item" href="/categories">Categories</a></li>
                        <li><a class="dropdown-item" href="/series">Series</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/tag-cloud">Tags cloud</a></li>
                    </ul>
                </li>      

            </ul>

        </div>

        <!-- inline search-bar with same expand breakpoint as navigation -->
        <nav class="nav-search d-none d-lg-inline">
            <!-- hidden by def., visible (block) aft. size SM -->
            <div class="inline-input-group inline-text-right">
                <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="blog-search-input form-control py-0" placeholder="Search...">
            </div>
        </nav>

    </div>

</nav>

<!-- 
standalone search bar (below navigation) with same breakpoint as navigation (shown on collapse)
d-sm-none = hide if above sm
-->
<nav class="nav-search-below d-lg-none collapse" id="blog-search-bar">
    <div class="container">
        <div class="p-3">
            <div class="inline-input-group inline-text-left">
                <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="blog-search-input form-control" placeholder="Search...">
            </div>
        </div>
    </div>
</nav>
        </header>

        <main>
            
            

    <div class="layout layout-main">
     
        <div class="content-container container-fluid _g-0">

            <div class="hide-if-search-results-container-is-displayed row _g-0">

                <section class="article-section col-12 col-{{ asideBreak }}-{{ 12 - aside }} overflow-hidden">
                    <header></header>
                    <article>
                        
                            




<!--
* Content wrapper (due to AOS.JS we need overflow hidden here) !
* Also the background is set to the BG of the last (non footer) item for nicer effect!
-->
<div id="home" class="bg-body-secondary text-body overflow-hidden hide-on-search-results-container-display ff-wide" data-bs-theme="dark">



  <!-- LANDING -->
  <div data-bs-theme="dark" class="ff-tall z-1 text-body-emphasis jarallax landing">

    <div class="overlay"></div>

    <img class="jarallax-img" src="/assets/bg/handshake/pexels-fauxels-3183197.jpg" />

    <div class="container">

      <div class="p-3 pt-5 px-lg-5 d-flex flex-column">

        <div class="row flex-grow-1 align-items-center justify-content-center">

          <div class="col align-items-center wow animate__fadeInUp">
          
            <div class="content bg-black-2-3">
              
              <div class="lead p-3 p-lg-5">

                <div class="fs-1 fw-bold">
                  Driven by the desire to witness your ideas thrive.
                </div>

                <div class="px-lg-3">

                  <div class="pt-5">
                    Timely, hands-on guidance right from the beginning can create the pivotal distinction between success and obscurity.
                  </div>

                  <div class="pt-3">
                    <span class="text-highlight">Our mission is to help founders, CEOs, and entrepreneurs succeed by transforming their ideas into products (MVPs).</span>
                    <span class="">All while efficiently reducing costs by $200,000 to $500,000 annually.</span>
                  </div>

                </div>

              </div>

              <div class="mt-3 mt-lg-0 p-3 p-lg-5 bg-black-2-3 lead text-center">
              
                <div class>
                  <h1 class="m-0">
                    Fractional <span class="not-fw-bold">CTO</span> as a Service
                  </h1>
                  <div class="text-highlight">
                    ...because no one should have to deal with technology alone!
                  </div>
                </div>

                <div class="pt-3">
                  <a class="btn btn-sm btn-danger mb-1" href="https://outlook.office.com/bookwithme/user/d5a694f8ce744191a6220ea32ba4eb22%40simplyput.com?anonymous&amp;isanonymous=true" target="_blank">Get Your FREE Consultation NOW!</a>
                  <a class="btn btn-sm btn-secondary mb-1" href="/www/#stakes">Learn more...</a>
                </div>

              </div>
            
            </div>

          </div>

        </div>

      </div>
      
    </div>

    <div class="p-5"><!-- To have some distance when the hint boxes are pulled up via negative margin --!></div>

  </div><!-- LANDING -->



  <!-- ST: HINTS-->
  <section data-bs-theme="light" class="z-1 bg-body text-body hints">

    <div class="container">

      <div class="content">
    
        <div class="row g-3 mt-n5">
          <div class="z-1 col-6 col-md-3 d-flex align-items-stretch">
            <div class="bg-body shadow border p-3 w-100 d-flex flex-column align-items-center">
              <i class="text-warning fa-solid fa-compass-drafting fa-2x"></i>
              <span class="text-center">21 Years of Hands-on Experience</span>
            </div>
          </div>
          <div class="z-1 col-6 col-md-3 d-flex align-items-stretch">
            <div class="bg-body shadow border p-3 w-100 d-flex flex-column align-items-center">
              <i class="text-primary-emphasis fa-solid fa-clipboard-check fa-2x"></i>
              <span class="text-center">&gt; 38 Finished Projects</span>
            </div>
          </div>
          <div class="z-1 col-6 col-md-3 d-flex align-items-stretch">
            <div class="bg-body shadow border p-3 w-100 d-flex flex-column align-items-center">
              <i class="text-danger fa-solid fa-industry fa-2x"></i>
              <span class="text-center">5+ Industries</span>              
            </div>
          </div>
          <div class="z-1 col-6 col-md-3 d-flex align-items-stretch">
            <div class="bg-body shadow border p-3 w-100 d-flex flex-column align-items-center">
              <i class="text-success fa-solid fa-globe-americas fa-2x"></i>
              <span class="text-center">US and EU Companies</span>
              <span class="text-center">incl. Government Projects</span>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- ET: HINTS -->



  <!-- ST: STAKES -->
  <section data-bs-theme="light" class="bg-body text-body position-relative stakes" id="stakes">

    <div class="container">

      <div class="content">

        <div class="row g-3 p-3 pt-5 pb-5 px-lg-5">

          <div class="d-none d-lg-block col-lg-4">
          </div>

          <div class="col-12 col-lg-8 px-3 px-lg-5">

            <p class="lead fw-bold">
              The Path from Idea to Launch Requires More Than Just Coding!
            </p>

            <p>
              ...It requires strategic planning, effective leadership, and rapid execution.
              This journey optimizes resources, brings insights, and ensures scalable, low-maintenance products, blending technical expertise and visionary guidance.
            </p>

            <p>
              Crafting scalable, low-maintenance products or <span class="not-text-highlight">achieving MVPs in just 2-3 months</span> requires hands-on technical expertise and visionary leadership right from the start!
            </p>

            <hr/>

            <p class="lead fw-bold">
              Don't let your business become another statistic.
            </p>

            <div class="ff-tall bg-body-secondary p-3 px-lg-5 mb-3">
              <p class="p0 text-primary-emphasis">
                We recently highlighted a true story: <span class="fw-bold">A company that ignored crucial technical advice.</span>
                The outcome?
                <span class="fw-bold">A staggering loss of $1.5-2.5 million in just two short years.</span>
              </p>
            </div>

            <p>
              <span class="fw-bold">Hiring full-time CTOs is costly, requires equity, and is hard to find.</span>
              However, neglecting hands-on leadership can lead to disasters.
            </p>

            <p>
              Relying solely on <span class="fw-bold">external vendors</span> appears helpful but is deceptive.
              They fulfill your exact requests, often ignoring the scalability vital for your business's success.
              This narrow strategy drives up maintenance expenses and hinders future growth.
              In severe instances, you risk vendor dependency, <span class="fw-bold">surrendering control</span> to their terms.
            </p>

            <div class="pb-7 bg-body"></div>

          </div>

        </div>

      </div>
 
    </div>

    <div
      class="position-absolute d-none d-lg-block"
      style="
        background-image: url('/www/_assets/balazs-h-1-5.png');
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
        bottom: 0;
        left: 0;
        width: 45%;
        height: 100%;
        z-index: 0;
        "
      >
    </div>    

  </section><!-- ET: STAKES -->



  <!-- ST: VALUE-PROPOSITION -->
  <section data-bs-theme="dark" class="skew bg-body-secondary text-body value-proposition position-relative" id="value-proposition">

    <div class="not-et_pb_top_inside_divider"></div>

    <div class="container">

      <div class="content">

        <div class="row g-3 xxx-mt-n8 p-3 pt-5 px-lg-5">

          <div class="z-1 col-12 col-md-4 mt-lg-n7">
            <div class="bg-body h-100 shadow border p-3">

              <div class="mt-0 mt-md-n5 mb-3">
                <i class="text-primary-emphasis fa-brands fa-black-tie fa-3x"></i>
              </div>

              <p class="lead text-highlight">
                Expert Tech Leadership for Non-Tech Founders
              </p>

              <p class="text-body-emphasis">
                Discover a dedicated solution designed for SMEs, startups, and small teams.
              </p>

              <p>
                Our expertise covers strategy, hiring, vendorship management, architecture, and more. 
                Whether you're lacking a technical leader or need to complement your existing team, we've got you covered.
              </p>

              <p class="text-highlight">
                Gain the momentum you need from the very start, setting your business on the path to success.
              </p>

            </div>
          </div>

          <div class="z-1 col-12 col-md-4 mt-lg-n7">
            <div class="bg-body h-100 shadow border p-3">

              <div class="mt-0 mt-md-n5 mb-3">
                <i class="text-success-emphasis fa-solid fa-code fa-3x"></i>
              </div>

              <p class="lead text-highlight">
                Streamlined Software Development
              </p>

              <p class="text-body-emphasis">
                Enhance your software development process by adopting practices that optimize efficiency, collaboration, and agility.
              </p>

              <p>
                Streamlining involves automating repetitive tasks, and promoting clear communication among teams.
                By prioritizing quality, you can deliver high-quality software that requires minimal maintenance, enabling faster responses to changing requirements.
              </p>

            </div>
          </div>

          <div class="z-1 col-12 col-md-4 mt-lg-n7">
            <div class="bg-body h-100 shadow border p-3">

              <div class="mt-0 mt-md-n5 mb-3">
                <i class="text-warning-emphasis fa-solid fa-lightbulb fa-3x"></i>
              </div>

              <p class="lead text-highlight">
                Counsel Services
              </p>

              <p class="text-body-emphasis">
                Elevate Your Business with Informed Decisions - Your Second Voice of Reason and Collaborative Brainstorming Partner.
              </p>

              <p>
                Success isn't a one-time sprint; it's a marathon.
                Our partnership extends beyond quick fixes.
                In the ever-evolving business landscape, we're here to ensure you make the right decisions, providing expert insights that safeguard you from missteps.
              </p>

              <p class="text-highlight">
                Let us become your partner, guiding you towards success with every step you take.
              </p>

            </div>

          </div>

        </div>

        <div class="d-none p-3 pt-5 px-lg-5 d-flex flex-column">

          <p>
            In the dynamic landscape of business, SMEs and Startups stand at a crossroads.
            While a full-time Chief Technology Officer (CTO) might be a luxury, turning a blind eye to the power of technology can be a costly mistake.
            This is where we step in.
          </p>

          <p class="not-d-none">
            Our expertise lies in aiding non-technical founders to enhance the efficiency of their software development processes.
            We assume the role of a CTO for SMEs, startups, and small teams, serving as a reliable technical leader.
            Additionally, we provide support by complementing the efforts of non-technical full-time CTOs, especially those who excel in other roles like product ownership.
          </p>

        </div>


        <div class="not-d-none p-3 px-lg-5 d-flex flex-column">
          <p>
            <span class="fw-bold">Can you identify and prevent costly long-term technical decisions in a timely manner?</span>
            Are you able to identify technical issues?
            While it may seem simple, sometimes these issues can be difficult to detect and are disguised as demonstrated in <a href="https://youtu.be/LGG3IIHUG_w?t=78" target="_blank">"Six Little Lines of Fail" by Jimmy Bogard</a>.
          </p>
        </div>

        <div class="p-3 px-lg-5 lead text-center">
          <a class="btn btn-danger mb-1" href="https://outlook.office.com/bookwithme/user/d5a694f8ce744191a6220ea32ba4eb22%40simplyput.com?anonymous&amp;isanonymous=true" target="_blank">Get Your FREE Consultation NOW!</a>
          <a class="btn btn-secondary mb-1" href="/www/fcto">More about the F-CTO as a Service...</a>
        </div>

      </div>

    </div>

    <div class="pb-5"></div>

    <div class="not-et_pb_bottom_inside_divider"></div>

  </section><!-- ET: VALUE-PROPOSITION -->



  <!-- ST: THE-GUIDE -->
  <section data-bs-theme="light" class="bg-body text-body bg-white-3-4 the-guide" data-jarallax data-speed="1.2" data-img-position="50% 80%">

    <img class="jarallax-img" src="/assets/bg/office/unsplash-dane-deaner-_-KLkj7on_c-unsplash.jpg" />

    <div class="bg-white-3-4">

      <div class="container">

        <div class="content p-3 px-lg-5 pt-6">

          <div class="row g-5">

            <div class="col-12 col-md-6">
              <p class="lead fw-bold">Embark on Our Journey of Success</p>
              <div class="text-primary-emphasis"
                <p>
                  Discover our accomplishment in rescuing and revamping the core internal software of a $150 Million Covid Testing and Vaccination company in just 2 months! 
                </p>
                <p>
                  This narrative brings into focus the indispensable nature of hands-on management, <span class="text-primary">revealing the inadequacies of conventional methods in the dynamic world of software</span>.
                </p>
                <a class="btn btn-sm btn-danger" href="/www/success-stories/ih-tla">The ImpactHealth Success Story</a>
              </div>
            </div>

            <div class="col-12 col-md-6">

              <div class="row g-5">

                <div class="col-12">
                  <p class="lead fw-bold">Witness Our Path of Innovation</p>
                  <p class="text-primary-emphasis">Delve into our portfolio of past projects, each a testament to our expertise.</p>
                  <a class="btn btn-sm btn-danger" href="/www/projects">Previous Projects</a>
                </div>

                <div class="col-12">
                  <p class="lead fw-bold">Explore More About 'Us'</p>
                  <p class="d-none text-primary-emphasis">Let me introduce myself a bit...</p>
                  <a class="btn btn-sm btn-secondary" href="/www/about-me">More about me...</a>
                </div>
              
              </div>

            </div>

          </div>

          <hr/>

          <div class="pt-3">
            <p class="lead fw-bold">Hear the Stories from Our Clients</p>
            <p class="text-primary-emphasis">Discover firsthand accounts of how our solutions have transformed businesses.</p>

            <p class="p-3 px-lg-5 text-center bg-danger text-light">See: LinkedIn Recommendations / Testimonials</p>
          </div>

        </div>

      </div>

      <div class="pt-6"></div>

    </div>

  </section><!-- ET: THE-GUIDE -->



  <!-- ST: EXPLANATORY -->
  <section data-bs-theme="dark" class="skew bg-body text-body explanatory">

    <div class="container">

      <div class="content p-3 px-lg-5 pt-5">

        <div class="row g-5">

          <div>
            Drawing upon two decades of experience, I've come to realize that: <span class="text-highlight">The majority of SMEs and Startups encounter common challenges within the realm of software development.</span>
            This holds true for companies boasting a development team of up to 10 members, as well as agencies housing three similar teams with different technology stacks.
          </div>

          <div>
            <span class="text-highlight">Tackling these issues requires a strategic approach.</span>
            The sooner we take action, the better – as it involves instilling a culture and fostering positive practices (which is almost impossible or extremely expensive to retrofit later on).
          </div>

          <div>
            Upon establishing the correct path, diversions may arise, yet: <span class="text-highlight">Regular evaluations permit seamless adjustments towards the chosen trajectory</span>.
          </div>
          
        </div>

        <div class="pt-5">

        <div>

          <p class="p-3 px-lg-5 lead text-center text-body-emphasis">
            The best time to fix these issues was yesterday - The second-best time is now!
          </p>

          <div class="pt-3">

          <p class="text-center">
            Embark on the journey toward success from the very outset, or allow us to guide you in steering the course correctly.
          </p>

          <p class="text-center">
            Retain ownership, trim expenses, and attain remarkable outcomes.
          </p>

        </div>

      </div>

    </div>

    <div class="pb-5"></div>

  </section><!-- ET: EXPLANATORY -->



  <!-- ST: THE-PLAN -->
  <section data-bs-theme="light" class="bg-body text-body bg-white-3-4 the-plan" data-jarallax data-speed="1.2" data-img-position="50% 80%">

    <img class="jarallax-img" src="/assets/bg/office/pexels-proxyclick-visitor-management-system-2451566.jpg" />

    <div class="container bg-body">

      <div class="content p-3 px-lg-5 pt-6">
      
        <div class="text-center pb-5">
          <p class="lead fw-bold">Ready to Unlock Your Tech Potential?</p>
          <p>It's Simple. Really.</p>
        </div>

        <div class="row g-5">

          <div class="col-12 col-md-4">
            <p class="text-warning">
              <span class="fa-stack fa-2x">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-1 fa-stack-1x"></i>
              </span>
            </p>
            <p class="lead fw-bold">
              Exploratory Conversation
            </p>
            <p>
              Let's begin with a complimentary consultation where we'll dive into your software engineering needs.
              <span class="text-highlight">Through this call, we'll understand your challenges and goals, aligning our services with your requirements.</span>
            </p>
          </div>

          <div class="col-12 col-md-4">
            <p class="text-primary">
              <span class="fa-stack fa-2x">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-2 fa-stack-1x"></i>
              </span>
            </p>
            <p class="lead fw-bold">
              Process Evaluation (Audit)
              <br/>
              Tailored Solutions
            </p>
            <p>
              We will perform a comprehensive audit of your current processes, revealing inefficiencies and optimization potential.
              <span class="text-highlight">Based on the audit, we'll present you with personalized strategies that target pain points and lay the groundwork for enhanced software engineering practices.</span>
            </p>
          </div>

          <div class="col-12 col-md-4">
            <p class="text-success">
              <span class="fa-stack fa-2x">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-solid fa-3 fa-stack-1x"></i>
              </span>
            </p>
            <p class="lead fw-bold">
              Ongoing Enhancement
              <br/>
              Team Guidance
            </p>
            <p>
              Beyond quick fixes, we're your dedicated compass for enduring triumph.
              <span class="text-highlight">Embracing the software journey as a continual process, we offer a second voice of reason, an extra pair of eyes, and a ready brain to tackle challenges.</span>
              Count on us for sustained excellence.
            </p>
          </div>

        </div>

      </div>

      <div class="pb-5"></div>

    </div>

  </section><!-- ET: THE-PLAN -->



  <!-- ST: LEAD-GENERATOR -->
  <section data-bs-theme="dark" class="skew skew-straight-bottom bg-body-secondary text-body-secondary lead-generator">

    <div class="container">

      <div class="content p-3 px-lg-5 pt-6">

        <div id="coming-soon" class="row g-3">
          
          <div class="col-12 p-3 px-lg-5 bg-body">
            <p class="p0">
              <span class="text-highlight fw-bold">COMING SOON:</span>
              <span class="text-light">Assess Your Tech Health</span>
            </p>
            <p class="p0">Is your company technically vulnerable? <span class="fw-bold">Take our simple health-check quiz.</span></p>
          </div>

          <div class="col-12 p-3 px-lg-5 bg-body">
            <p class="p0">
              <span class="text-highlight fw-bold">COMING SOON:</span>
              <span class="text-light">Essential Insights for Non-Technical Leaders</span>
            </p>
            <p class="p0">Explore the Top 10+ Things Every Non-Technical Owner Should Be Aware Of.</span></p>
          </div>

        </div>

        <div class="pt-6"></div>

        <div class="row g-3">

          <div class="col-12 p-3 px-lg-5 bg-danger text-light">
            If You're Interested, Stay Connected. Leave your contact details, and we'll be in touch soon.
          </div>

        </div>

        <div id="contactFormContainer" class="form-container py-5">
          <!--
          <h2 class="mb-1 text-center text-light">Contact Form</h2>
          <div class="pb-4 text-center">Let Us Contact You Later...</div>          
          -->
          <form
            id="contactForm"
            method="POST"
            action="https://script.google.com/macros/s/AKfycbyidk1Ivj_HGs31JhZ3Op8W3ndNZHzti-6Ah-elzEeZDqn4gTBLNhB3vYXE-4oXQ3tk4A/exec"
            >
            <div class="mb-3">
              <label for="email" class="form-label">Email *</label>
              <input
                type="email"
                class="form-control compact-input"
                id="email"
                name="Email"
                required
              />
            </div>
            <div class="mb-3 row">
              <div class="col">
                <label for="jobTitle" class="form-label">Job Title</label>
                <input
                  type="text"
                  class="form-control compact-input"
                  id="jobTitle"
                  name="JobTitle"
                />
              </div>
              <div class="col">
                <label for="company" class="form-label">Company</label>
                <input
                  type="text"
                  class="form-control compact-input"
                  id="company"
                  name="Company"
                />
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control compact-input"
                  id="firstName"
                  name="FirstName"
                />
              </div>
              <div class="col">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control compact-input"
                  id="lastName"
                  name="LastName"
                />
              </div>
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-danger mt-3">Submit</button>
            </div>
          </form>
          <p id="successMessage" class="d-none p-3 px-lg-5 bg-success text-white">Thank you for providing your contact information. We will be in touch with you shortly.</p>
          <p id="errorMessage" class="d-none p-3 px-lg-5 bg-danger text-white">An error occurred while submitting the form.</p>
          <script>
              const contactFormContainer = document.getElementById('contactFormContainer');
              const form = document.getElementById('contactForm');
              const successMessage = document.getElementById('successMessage');
              const errorMessage = document.getElementById('errorMessage');
              
              form.addEventListener('submit', async function(event) {
                  event.preventDefault();

                  const formData = new FormData(form);

                  const currentDate = new Date().toISOString();
                  formData.append('currentDate', currentDate);

                  try {
                      const response = await fetch(
                        form.action,
                        {
                          method: form.method,
                          body: formData,
                        }
                      );

                      if (response.ok) {
                          // Reset form, hide it, hide prev. error and show success message
                          // can't hide the container as error/success resides inside: contactFormContainer.classList.add('d-none');
                          form.classList.add('d-none');
                          errorMessage.classList.add('d-none');
                          successMessage.classList.remove('d-none');
                          form.reset();
                      } else {
                          // Show error message
                          errorMessage.classList.remove('d-none');
                      }
                  } catch (error) {
                      alert('Error submitting form.');
                  }
              });
          </script>
        </div>        

      </div>

    </div>

  </section><!-- ET: LEAD-GENERATOR -->



  <!-- ST: JUNK-DRAWER -->
  <section class="top-delimiter bg-dark text-light junk-drawer wow animate__slideInUp" id="footer">
    
    <div class="container p-5">

      <div class="row gy-3 align-items-top justify-content-center">

        <div class="col-md ms-n5">
          <p><img style="height: 3em;" src="/assets/reflection logo.png" /></p>
        </div>

        <div class="col-md">
          <p><span class="text-uppercase">Quick Links</span></p>
          <ul style="list-style-type: none; padding:0; margin: 0;">
            <li><a href="/www/#home">Home</a></li>
            <li><a href="/www/#value-proposition">Our Services</a></li>
            <li><a href="/www/projects">Projects</a></li>
          </ul>
        </div>     

        <div class="col-md">
          <p><span class="text-uppercase">Let us Help!</span></p>
          <p>

            <a 
              href="https://www.linkedin.com/in/hideghety/"
              class="d-flex align-items-center"
              >
              <i class="icon-linked-in fa-brands fa-linkedin fa-fw fa-1x fs-5"></i>
              Message me on Linked In
            </a>

            <a 
              href="https://outlook.office.com/bookwithme/user/d5a694f8ce744191a6220ea32ba4eb22%40simplyput.com?anonymous&amp;isanonymous=true"
              class="d-flex align-items-center"
              >
              <i class="icon-book-a-time fa-solid fa-calendar-day fa-fw fa-1x fs-5"></i>
              Book a free call
            </a>

            <!--
            <a 
              href="https://form.jotform.com/balazshideghety/reflection-contact-form"
              target="_blank"
              class="d-flex align-items-center"
              >
              <i class="fa-solid fa-file-contract fa-fw fa-1x fs-5"></i>
              Fill out this form
            </a>
            -->
          </p>
        </div>

      </div>

    </div>

  </section><!-- ET: JUNK-DRAWER -->

</div>  
<!--
https://medium.com/geekculture/link-your-html-form-to-a-spreadsheet-via-google-forms-9024f0611d82

https://dev.to/kromate/connecting-your-html-forms-to-a-google-spreadsheet-p9h
https://github.com/levinunnink/html-form-to-google-sheet

https://script.google.com/macros/s/AKfycbyidk1Ivj_HGs31JhZ3Op8W3ndNZHzti-6Ah-elzEeZDqn4gTBLNhB3vYXE-4oXQ3tk4A/exec
-->
                        
                    </article>
                    <div class="article-tail">
                        
                    </div>
                    <footer></footer>
                </section>

                <section class="aside-section d-none">
                    <header></header>
                    <aside></aside>
                    <footer></footer>
                </section>

            </div>

            <div class="hide-if-search-results-container-is-displayed row _g-0">
                <!-- Add tail here? Looks weird if aside content is long! -->
                
            </div>

            <div class="search-results-container row _g-0">
                <div class="search-results overflow-hidden"></div>
            </div>

        </div>

    </div>


        </main>

	    <!-- dynamic & custom scripts to alter rendered content -->
        <script>

    /* uses:
    EJS.CO for templating
    LUNR for search
    HE for HTML encoding (at highlight fnc.)
    */
   
    class Debouncer {
        _timeoutId = undefined;
        _wait = 250;
        _callback;

        constructor(callback, wait) {
            this._wait = wait ? wait : this._wait;
            this._callback = callback;
        }

        next(...args) {
            this.cancel();
            this._timeoutId = window.setTimeout(() => {
            this._callback.apply(null, args);
            }, this._wait);
        }

        cancel() {
            window.clearTimeout(this._timeoutId);
        }
    }

    const blogSearch = {

        _searchIndexPath: '/search.json',
        _urlPrefix: '/',
        _debounceTime: 400,

        _searchingTemplate: `
<h2>
    <i class="fa-solid fa-circle-notch fa-spin text-secondary"></i>
    <span class="text-secondary">Searching for:</span>
    <span class="text-primary"><%= searchText %></span>
</h2>
`,

        _resultTemplate_simple: `
<h2>
    <span class="text-secondary">Search results for:</span>
    <span class="text-primary"><%= searchText %></span>
</h2>

<% if (searchResults.length == 0){ %>
    <span class="no-results">We're sorry, but we couldn't find any items that match your search. Please try again with different keywords or filters...</span>
<% } %>

<ul class="items-found">
<% searchResults.forEach((sr, idx, arr) => { %>
    <li>
        <div class="search-result-item position-relative border shadow">
            <h5><%- sr.ref.title %></h5>
            <p class="x-text-nowrap x-text-truncate"><%- sr.ref.summary %></p>
            <a href="<%- urlPrefix %><%- sr.ref.url %>" class="stretched-link"></a>
        </div>
    </li>
<% }); %>
</ul>        
`,

        _resultTemplate: `
<h2>
    <span class="text-secondary">Search results for:</span>
    <span class="text-primary"><%= searchText %></span>
</h2>

<% if (searchResults.length == 0){ %>
    <span class="no-results">We're sorry, but we couldn't find any items that match your search. Please try again with different keywords or filters...</span>
<% } %>

<ul class="search-results">
<% searchResults.forEach((sr, idx, arr) => { %>
    <li>

        <div class="catalogue-item position-relative">
            
            <a class="stretched-link" href="<%- urlPrefix %><%- sr.ref.url %>"></a>
            <h3 class="catalogue-title"><%- sr.ref.title %></h3>
            <div class="catalogue-line"></div>

            <div class="catalogue-preview clearfix">
                <% if (sr.ref.image) { %>
                <img src="<%- sr.ref.image %>" class="catalogue-image img-fluid img-thumbnail"></img>
                <% } %>
                <div class="excerpt">
                    <%- sr.ref.summary %>
                </div>
            </div>

        </div>

    </li>
<% }); %>
</ul>        
`,

        _inputElements: [],
        _cancelElements: [],
        
        _updateInputs(value) {
            this._inputElements.forEach(el => el.value = value);
        },

        _setUpListeners(inputSelector, cancelSelector) {
            if (inputSelector) {
                this._inputElements = document.querySelectorAll(inputSelector);
                this._inputElements.forEach(el => el.addEventListener('keyup', evt => { if (evt.keyCode == 27) this._escapePressed(el); else this._inputValueChanged(el); } ));
            } else {
                this._inputElements = [];
            }

            if (cancelSelector) {
                this._cancelElements = document.querySelectorAll(cancelSelector);
            } else {
                this._cancelElements = [];
            }
        },

        _escapePressed(el) {
            this.clearSearch();
        },

        _inputValueChanged(el) {
            const value = el.value;
            this._updateInputs(value);
            this._debouncedSearch.next(value);
        },

        _resultContainerEls: [],
        _containersToHideEls: [],

        _setUpContainers(resultContainerSelector, containersToHideWhenResultSelector) {
            this._resultContainerEls = document.querySelectorAll(resultContainerSelector);
            this._containersToHideEls = document.querySelectorAll(containersToHideWhenResultSelector);
        },

        _showResults: false,
        _searching: false,
        _searchText: '',
        _searchResults: [],

        refreshUi() {
            const self = this;

            self._inputElements.forEach(el => el.value = self._searchText );

            const html = self._showResults
                ? self._searching
                    ? ejs.render(self._searchingTemplate, { searchText: self._searchText })
                    : ejs.render(self._resultTemplate, { urlPrefix: self._urlPrefix.replace(/\/+$/, ''), searchText: self._searchText, searchResults: self._searchResults })
                : '';

            self._resultContainerEls.forEach(el => { 
                // hide/show container
                self._showResults ? el.classList.remove("d-none") : el.classList.add("d-none")
                
                // find results element (or fallback to container) and set results
                const resultsEl = el.querySelector(".search-results");
                const displayEl = resultsEl ?? el;
                displayEl.innerHTML = self._showResults ? html : "";
            });

            self._containersToHideEls.forEach(el => self._showResults ? el.classList.add("d-none") : el.classList.remove("d-none"));          
        },

        clearSearch() {
            this._showResults = false;
            this._searchText = '';
            this._searchResults = [];
            this.refreshUi();
        },

        search(text) {

            const self = this;

            console.log('searching for: ', text);
            self._searchText = text;

            if (!text) {
                self.clearSearch();
                return;
            }

            this._searchResults = [];
            self._searching = true;
            self._showResults = true;
            this.refreshUi();

            const hasSpecial = self._lunrSpecial.some(special => text.includes(special));
            const pattern =  hasSpecial 
                ? text
                : text + "*";

            console.log('lunr pattern: ', pattern);
            const localResults = self._lunrEngine.search(pattern);

            // NOTE: just for tests...
            // console.log('total result', localResults)

            // NOTE: highlighting
            localResults.forEach(localResult => {
                // NOTE: hard. ref.
                const data = self._lunrSearchData.find(i => i.url == localResult.ref);

                const highlight = {};

                for (let term in localResult.matchData.metadata) {
                    for (let field in localResult.matchData.metadata[term]) {

                        const positions = localResult.matchData.metadata[term][field].position;

                        const fieldValue = data[field];
                        let fieldReadIndex = 0;

                        highlight[field] = "";

                        for (let position of positions) {

                            if (position[0] > fieldReadIndex)
                                highlight[field] += fieldValue.substring(fieldReadIndex, position[0]);

                            highlight[field] += ("{:::" + fieldValue.substring(position[0], position[0] + position[1]) + ":::}");

                            fieldReadIndex = position[0] + position[1];

                        }

                        highlight[field] += fieldValue.substring(fieldReadIndex);             

                    }

                }

                for (let key in highlight) {
                    let value = highlight[key];

                    const encode = false;
                    let encoded = encode
                        ? he.encode(value)
                        : value;

                    let highlighted = encoded.replace(/{:::/g, '<mark>').replace(/:::}/g, '</mark>');
                    highlight[key] = highlighted;
                }

                localResult.ref = Object.assign({}, data, highlight);
            });

            self._searchResults = localResults;

            // finally
            self._searching = false;
            self.refreshUi();
        },

        _lunrSpecial: "*+-:^~".split(''),
        _lunrSearchData: undefined,
        _lunrEngine: undefined,

        init(inputSelector, cancelSelector, resultContainerSelector, containersToHideWhenResultSelector) {

            console.log('initializing search', this);

            // set up result / hide elements
            this._setUpContainers(resultContainerSelector, containersToHideWhenResultSelector);

            // refresh
            this.refreshUi();

            fetch(this._searchIndexPath).then((response) => {
                response.json().then((raw) => {

                    // set up engine, store search data
                    this._lunrSearchData = raw;

                    this._lunrEngine = lunr(function () {
                        this.ref('url')
                        this.field('title')
                        this.field('date')
                        this.field('author')
                        this.field('summary')
                        this.field('text')

                        this.metadataWhitelist = ['position']

                        raw.forEach(function (doc) { this.add(doc) }, this)
                    });

                    // set up UI listeners
                    this._debouncedSearch = new Debouncer((args) => this.search(args), this._debounceTime);
                    this._setUpListeners(inputSelector, cancelSelector);

                    // refresh
                    this.refreshUi();
                });
            });

        }

    };

    // NOTE:
    // #search-results-container must have an additional element with a .search-results class
    // these objects (along with #global-content-view) were already set up inside main.njk
    blogSearch.init('.blog-search-input', '.blog-search-cancel', '.search-results-container', '.hide-if-search-results-container-is-displayed');

</script>


        

        


        <!-- cookie consent dependent scripts and features -->
        

    </body>

    <!-- dynamic & custom scripts that need to run after the entire "final" content is rendered -->
    <script src="/assets/js/custom/d-hide-if-empty.js"></script>
    <script src="/assets/js/custom/sticky.js"></script>

    <!-- scripts from content pages -->
    <script>
  InitParallax();
  InitTyped();
  InitAOS();
  InitCounters()
</script>


    <script src="/assets/js/custom/menu-path-and-scroll-spy.js"></script>

</html>
